<mat-toolbar color="primary">
<mat-toolbar-row>
  <a mat-button [routerLink]="['/home']" routerLinkActive="router-link-active"  >
    <mat-icon class="mr-1">home</mat-icon>
    Inicio</a>
  <a mat-button [routerLink]="['/autos']" routerLinkActive="router-link-active"  >
    <mat-icon class="mr-1">drive_eta </mat-icon>
    Autos </a>
  <a mat-button [routerLink]="['/marcas']" routerLinkActive="router-link-active"  >
    <mat-icon class="mr-1">dns </mat-icon>
    Marcas</a>
    <a mat-button [routerLink]="['/admin']" routerLinkActive="router-link-active"  >
      <mat-icon class="mr-1"> admin_panel_settings </mat-icon>
      Administracion</a>
</mat-toolbar-row>   
 
  
</mat-toolbar>
