<!-- <div class="container-auto">
  
    <div class="container-info">
        <h2>{{auto.nombre}}</h2>

        <div class="container-text">
        <p>{{auto.precioMercado}}</p>
        
        <button *ngIf="contador >= 10"  >Sin existencia</button>
        </div>
    </div>


</div> -->


        <div class="card " style="">
            <img class="card-img-top" src="assets/camaro.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">{{auto.nombre}}</h5>
              <p class="card-text">Precio: {{auto.precioMercado}}</p>
              <a href="#" class="btn btn-success">Detalles</a>
            </div>
          </div>
    
